<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Exams</title>
		<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css">
		<!--基础js-->
		<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
		<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<!--BootStrap Table-->
		<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>

	</head>
	<body>
		<nav th:replace="../static/html/common/fragments.html::issuer_menu(3)"></nav>
		<div class="container">
			<!--创建考试按钮-->
			<div th:align="left">
				<a th:href="@{/issuer/createExam}">
					<button type="button" class="btn btn-success btn-lg">创建考试</button>
				</a>
			</div>
			<!--表格-->
			<div>
				<table class="table table-hover" id="exam-table">
					<thead class="table-light">
						<tr class="table-danger">
							<th>试卷编号</th>
							<th>试卷名称</th>
							<th>开始时间</th>
							<th>结束时间</th>
							<th>创建时间</th>
							<th>更新时间</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="exam : ${examLists}">
							<td th:text="${exam.id}">100</td>
							<td th:text="${exam.name}">题干</td>
							<td th:text="${#temporals.format(exam.startTime,'yyyy-MM-dd HH:ss')}">猴年马月</td>
							<td th:text="${#temporals.format(exam.endTime,'yyyy-MM-dd HH:ss')}">猴年马月</td>
							<td th:text="${#temporals.format(exam.createdAt,'yyyy-MM-dd HH:ss')}">猴年马月</td>
							<td th:text="${#temporals.format(exam.updatedAt,'yyyy-MM-dd HH:ss')}">猴年马月</td>
							<td><a th:href="@{'/issuer/updateExam/'+${exam.id}}">
								<button type="button" class="btn btn-info">查看详情</button>
							</a></td>
							<td><a th:href="@{'/issuer/getAllScore/'+${exam.id}}">
								<button type="button" class="btn btn-info">导出成绩</button>
							</a></td>
						</tr>
					</tbody>
				</table>
			</div>


			<div align="center">
				<ul class="pagination">
					<li><a th:href="@{/issuer/getMyAllExamPaper(page=0,pagesize=10)}">首页</a></li>
					<li>
						<a th:if="${page} eq 0" } onclick="startPage()">上一页</a>
						<a th:href="@{/issuer/getMyAllExamPaper(page=${page}-1,pagesize=10)}"
						   th:if="${page} ne 0">上一页</a>
					</li>
					<li>
						<a th:href="@{/issuer/getMyAllExamPaper(page=${page}+1,pagesize=10)}"
						   th:if="${page} ne ${TotalPages}-1">下一页</a>
						<a th:if="${page} eq ${TotalPages}-1" onclick="endPage()">下一页</a>
					</li>
					<li><a th:href="@{/issuer/getMyAllExamPaper(page=${TotalPages}-1,pagesize=10)}">末页</a></li>
				</ul>
			</div>
		</div>
	</body>
	<script>
        //表单校验函数
        function validateForm() {
            var x = document.forms["myForm"]["fname"].value;
            if (x == null || x == "") {
                alert("姓必须填写");
                return false;
            }
        }

        //起始页提醒
        function startPage() {
            alert("对不起，已经是第一页！");
        }

        //结束页提醒
        function endPage() {
            alert("对不起，已经达到最后一页！");
        }

        //编辑按钮操作
        function editQuestion(editButtonId) {
            console.log(questionId);
            var questionId = editButtonId.substr(8);
            console.log(questionId);
            $.getJSON("/questions/" + questionId, function (result) {
                popWinToEdit(result);
            })
        }


	</script>
</html>
