<!DOCTYPE html>
<!--试卷展示页面-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Exams</title>
		<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css">
		<link href="/css/table.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="/css/me.css">
		<!--基础js-->
		<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
		<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<!--BootStrap Table-->
		<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
	</head>
	<body>
		<nav th:replace="../static/html/common/fragments.html::issuer_menu(3)"></nav>
		<div class="container">
			<div style="margin-left: 50px">
				<strong style="font-size: 35px">所有试卷</strong>
				<a th:href="@{/issuer/createExam}">
					<button type="button" class=" m-button " style="margin-left: 13px; margin-bottom: 8px;">
						创建考试
					</button>
				</a>
			</div>

			<!--表格-->
			<div class="container">
				<table class="table table-hover table-responsive table-white" id="exam-table">
					<thead class="table-thead">
						<tr>
							<th data-width="10">编号</th>
							<th data-sortable="true">试卷名称</th>
							<th data-sortable="true">考试日期</th>
							<th>考试时间</th>
							<th data-sortable="true">创建时间</th>
							<th>更新时间</th>
							<th data-width="300px">操作</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="exam : ${examLists}">
							<td th:text="${exam.id}" hidden data-hidden="true">100</td>
							<td th:text="${exam.name}">题干</td>
							<td th:text="${#temporals.format(exam.startTime,'yyyy年MM月dd日')}">猴年马月</td>
							<td th:text="${#temporals.format(exam.startTime,'HH:mm')} + '—' + ${#temporals.format(exam.endTime,'HH:mm')}">
								猴年马月
							</td>
							<!--							<td th:text="">猴年马月</td>-->
							<td th:text="${#temporals.format(exam.createdAt,'yyyy-MM-dd HH:mm')}">猴年马月</td>
							<td th:text="${#temporals.format(exam.updatedAt,'yyyy-MM-dd HH:mm')}">猴年马月</td>
							<td>
								<a th:href="@{'/issuer/updateExam/'+${exam.id}}">
									<button type="button" class="btn-sm btn-info">查看试卷</button>
								</a>
								<a th:href="@{'/issuer/getAllScore/'+${exam.id}}">
									<button type="button" class="btn-sm btn-success">导出成绩</button>
								</a>
								<a th:href="@{'/issuer/examPaper/result/'+${exam.id}}">
									<button type="button" class="btn-sm btn-warning">考试结果</button>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>


			<div align="center">
				<ul class="pagination">
					<li><a th:href="@{/issuer/getMyAllExamPaper(page=0,pagesize=10)}">首页</a></li>
					<li>
						<a th:if="${page} eq 0" } onclick="startPage()">上一页</a>
						<a th:href="@{/issuer/getMyAllExamPaper(page=${page}-1,pagesize=10)}"
						   th:if="${page} ne 0">上一页</a>
					</li>
					<li>
						<a th:href="@{/issuer/getMyAllExamPaper(page=${page}+1,pagesize=10)}"
						   th:if="${page} ne ${TotalPages}-1">下一页</a>
						<a th:if="${page} eq ${TotalPages}-1" onclick="endPage()">下一页</a>
					</li>
					<li><a th:href="@{/issuer/getMyAllExamPaper(page=${TotalPages}-1,pagesize=10)}">末页</a></li>
				</ul>
			</div>
		</div>
	</body>
	<script>
        //表单校验函数
        function validateForm() {
            var x = document.forms["myForm"]["fname"].value;
            if (x == null || x == "") {
                alert("姓必须填写");
                return false;
            }
        }

        //起始页提醒
        function startPage() {
            alert("对不起，已经是第一页！");
        }

        //结束页提醒
        function endPage() {
            alert("对不起，已经达到最后一页！");
        }

        $("#exam-table").bootstrapTable({
            search: true,
            classes: "table table-hover table-white",
            showRefresh: true,
            showColumns: true,
            sortable: true
        });
	</script>
</html>
