<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="head(title)">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title >fffff</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
		<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
		<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
		<!--导航-->
		<nav th:fragment="menu(n)"  class="navbar navbar-default" role="navigation" >
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">考试系统</a>
				</div>
				<div>
					<ul class="nav navbar-nav">
						<li th:classappend="${n == 1} ? 'active'"><a href="" th:href="@{/home/issuer}">首页</a></li>
						<li th:classappend="${n == 2} ? 'active'"><a  href="#" th:href="@{/questions/}" >问题管理</a></li>
						<li th:classappend="${n == 3} ? 'active'"><a  href="#" th:href="@{/issuer/getMyAllExamPaper}" >考试管理</a></li>
						<li th:classappend="${n == 4} ? 'active'"><a  href="#" th:href="@{/questions/}" >用户成绩</a></li>
						<li th:classappend="${n == 4} ? 'active'"><a  href="#" th:href="@{/questions/}" >个人信息</a></li>
					</ul>
				</div>
			</div>
		</nav>


<!--		<th:block th:fragment="script">-->
<!--			<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>-->
<!--			<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>-->
<!--			<script src="../../static/lib/editormd/editormd.min.js" th:src="@{/lib/editormd/editormd.min.js}"></script>-->

<!--		</th:block>-->

	</body>
</html>