<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Questions</title>
		<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css">
		<link href="/css/table.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="/css/me.css">
		<link href="/css/exam.css" rel="stylesheet" type="text/css">
		<!--基础js-->
		<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
		<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<!--BootStrap Table-->
		<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
		<!--markdown解析-->
		<script src="http://cdn.bootcss.com/pagedown/1.0/Markdown.Converter.js"></script>
	</head>
	<body>
		<nav th:replace="../static/html/common/fragments.html::issuer_menu(2)"></nav>
		<div class="container">
			<h1><strong>所有问题</strong></h1>
			<div th:align="left">
				<button type="button" class="btn btn-success btn-lg" onclick="addQuestion()">添加问题</button>
			</div>
			<!--表单-->
			<table class="table table-striped" id="question-table">
				<thead>
					<tr>
						<th>题目编号</th>
						<th>题目类型</th>
						<th class="md">题目内容</th>
						<th>正确答案</th>
						<th>分值</th>
						<th>最后更新时间</th>
						<th data-width= "140">操作</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="question, questionStat : ${questionLists}">
						<td th:text="${question.id}">100</td>
						<div th:switch="${question.type.name()}">
							<td th:case="JUDGE">判断题</td>
							<td th:case="FILL_BLANK">填空题</td>
							<td th:case="SINGLE_CHOICE">单选题</td>
							<td th:case="MULTIPLE_CHOICE">多选题</td>
							<td th:case="*">未知</td>
						</div>
						<td th:text="${question.infoTextContent}">题干</td>
						<td th:text="${question.correctAnswer}">答案</td>
						<td th:text="${question.score}">100</td>
						<td th:text="${#temporals.format(question.updatedAt,'yyyy-MM-dd HH:mm')}"></td>
						<td>
							<button type="button" class="btn-sm btn-primary" th:id="${examList[questionStat.index]}">
								<a th:href="@{'/issuer/updateExam/'+${examList[questionStat.index]}}" style="color: white" >查看所属试卷</a>
							</button>
<!--							<button type="button" class="btn-sm btn-info" th:id="'edit-btn'+${question.id}"-->
<!--							        th:onclick="'javascript:editQuestion(this.id,'  + ')'">修改-->
<!--							</button>-->
<!--							<button type="button" class="btn-sm btn-danger" th:id="'delete-btn'+${question.id}"-->
<!--							        onclick="deleteQuestion(this.id, this.class)">删除-->
<!--							</button>-->
						</td>
					</tr>
				</tbody>
			</table>

			<div align="center">
				<ul class="pagination">
					<li><a th:href="@{/questions/(page=0,pagesize=10)}">首页</a></li>
					<li>
						<a th:if="${page} eq 0" } onclick="startPage()">上一页</a>
						<a th:href="@{/questions/(page=${page}-1,pagesize=10)}" th:if="${page} ne 0">上一页</a>
					</li>
					<li>
						<a th:href="@{/questions/(page=${page}+1,pagesize=10)}"
						   th:if="${page} ne ${TotalPages}-1">下一页</a>
						<a th:if="${page} eq ${TotalPages}-1" onclick="endPage()">下一页</a>
					</li>
					<li><a th:href="@{/questions/(page=${TotalPages}-1,pagesize=10)}">末页</a></li>
				</ul>
			</div>

			<!--悬浮修改窗口-->
			<div id="lightToEdit" class="pop_win">
				<button type="button" class="btn btn-danger" style="float: right" onclick="closeWin()">
					<span class="glyphicon glyphicon-remove"></span>
				</button>
				<form class="form" method="post" role="form" id="edit-form">
					<h2 id="edit-title">问题编辑</h2>
					<div class="form-group">
						<label for="question-edit-id">题目编号</label>
						<input readonly="readonly" id="question-edit-id" type="text" class="form-control">
					</div>
					<div class="form-group">
						<label for="question-edit-type">题目类型</label>
						<select id="question-edit-type" class="form-control" onchange="changEditForm()">
							<option value="MULTIPLE_CHOICE">多选</option>
							<option value="SINGLE_CHOICE">单选</option>
							<option value="FILL_BLANK">填空</option>
							<option value="JUDGE">判断</option>
						</select>
					</div>
					<div class="form-group">
						<label for="question-info">题干</label>
						<input type="text" id="question-info" class="form-control" placeholder="题干" required autofocus>
					</div>
					<div class="form-group" id="question-edit-answer-A">
						<label for="question-edit-input-A">选项A</label>
						<input type="text"  class="form-control" placeholder="答案" id="question-edit-input-A" required>
					</div>
					<div class="form-group" id="question-edit-answer-B">
						<label for="question-edit-input-B">选项B</label>
						<input type="text"  class="form-control" placeholder="答案" id="question-edit-input-B" required>
					</div>
					<div class="form-group" id="question-edit-answer-C">
						<label for="question-edit-input-C">选项C</label>
						<input type="text"  class="form-control" placeholder="答案" id="question-edit-input-C" required>
					</div>
					<div class="form-group" id="question-edit-answer-D">
						<label for="question-edit-input-D">选项D</label>
						<input type="text"  class="form-control" placeholder="答案" id="question-edit-input-D" required>
					</div>
					<div class="form-group" id="question-edit-answer">
						<label for="question-edit-input-answer">答案</label>
						<input type="text" id="question-edit-input-answer" class="form-control" placeholder="答案"  required>
					</div>
					<div class="form-group" id="question-edit-judge">
						<label for="question-edit-judge">题目是否正确</label>
						<select  class="form-control">
							<option value="True">正确</option>
							<option value="False">错误</option>
						</select>
					</div>
					<div class="form-group">
						<label for="score">分值</label>
						<input type="text" id="score" class="form-control" placeholder="Score" required>
					</div>
					<div class="form-group">
						<label for="delete">是否弃用</label>
						<select id="delete" class="form-control">
							<option>是</option>
							<option>否</option>
						</select>
					</div>
					<input name="_csrf" type="hidden" value="93edbebc-aa90-4b8c-b372-28f922a9a9e6"/>
					<button class="btn btn-lg btn-primary btn-block" type="button" id="question-edit-btn">提交</button>
				</form>
			</div>
			<div id="fade" class="black_overlay"></div>

			<!--添加问题窗口-->
			<div id="lightToAdd" class="pop_win">
				<button type="button" class="btn btn-danger" style="float: right" onclick="closeWin()">
					<span class="glyphicon glyphicon-remove"></span>
				</button>
				<form class="form" method="post" role="form">
					<h2 id="add-title">问题添加</h2>
					<div class="form-group">
						<label for="question-add-type">题目类型</label>
						<select id="question-add-type" class="form-control"  onchange="changAddForm()">
							<option th:value="MULTIPLE_CHOICE">多选</option>
							<option th:value="SINGLE_CHOICE">单选</option>
							<option th:value="FILL_BLANK">填空</option>
							<option th:value="JUDGE">判断</option>
						</select>
					</div>
					<div class="form-group">
						<label for="question-add-info">题干</label>
						<input type="text" id="question-add-info" class="form-control" placeholder="题目大意" required
						       autofocus>
					</div>

					<div class="form-group" id="question-add-answer-A">
						<label for="question-add-input-A">选项A</label>
						<input type="text"  class="form-control" placeholder="选项A"  id="question-add-input-A" required>
					</div>
					<div class="form-group" id="question-add-answer-B">
						<label for="question-add-input-B">选项B</label>
						<input type="text"  class="form-control" placeholder="选项B" id="question-add-input-B" required>
					</div>
					<div class="form-group" id="question-add-answer-C">
						<label for="question-add-input-C">选项C</label>
						<input type="text"  class="form-control" placeholder="选项C" id="question-add-input-C" required>
					</div>
					<div class="form-group" id="question-add-answer-D">
						<label for="question-add-input-D">选项D</label>
						<input type="text"  class="form-control" placeholder="选项D" id="question-add-input-D" required>
					</div>

					<div class="form-group" id="question-add-judge">
						<label for="question-add-judge">题目是否正确</label>
						<select  class="form-control">
							<option th:value="True">正确</option>
							<option th:value="False">错误</option>
						</select>
					</div>
					<div class="form-group" id="question-add-answer">
						<label for="question-add-input-answer">答案(多选中间选项中间需要空格)</label>
						<input type="text"  class="form-control" placeholder="答案" id="question-add-input-answer" required>
					</div>

					<div class="form-group">
						<label for="score">分值</label>
						<input type="text" id="question-add-score" class="form-control" placeholder="分数" required>
					</div>
					<div class="form-group">
						<label for="delete">是否直接启用</label>
						<select id="canUse" class="form-control">
							<option>是</option>
							<option>否</option>
						</select>
					</div>
					<input name="_csrf" type="hidden" value="93edbebc-aa90-4b8c-b372-28f922a9a9e6"/>
					<button class="btn btn-lg btn-primary btn-block" type="button" id="question-add-btn">保存问题</button>
				</form>
			</div>

		</div>
	</body>


	<script th:inline="javascript">

        $(function () {
            let m = $(".md")
            for (let i = 0; i < m.length; i++) {
                let converter = new Markdown.Converter();
                m[i].innerHTML = converter.makeHtml(m[i].innerText)
            }
        });

        //表单校验函数
        function validateForm() {
            var x = document.forms["myForm"]["fname"].value;
            if (x == null || x == "") {
                alert("姓必须填写");
                return false;
            }
        }

        //起始页提醒
        function startPage() {
            alert("对不起，已经是第一页！");
        }

        //结束页提醒
        function endPage() {
            alert("对不起，已经达到最后一页！");
        }

        //根据题目类型来调整表单
        function changEditForm(){
            var type = $("#question-edit-type").val();
            // alert("当前选项"+ $("#question--type").val());
            console.log(type);
            if(type == 'MULTIPLE_CHOICE' || type == "SINGLE_CHOICE") {
                $("#question-edit-answer").show();
                $("#question-edit-answer-A").show();
                $("#question-edit-answer-B").show();
                $("#question-edit-answer-C").show();
                $("#question-edit-answer-D").show();
                $("#question-edit-judge").hide();
            }else if(type == 'FILL_BLANK'){
                $("#question-edit-answer").show();
                $("#question-edit-answer-A").hide();
                $("#question-edit-answer-B").hide();
                $("#question-edit-answer-C").hide();
                $("#question-edit-answer-D").hide();
                $("#question-edit-judge").hide();
            }else{
                $("#question-edit-answer").hide();
                $("#question-edit-answer-A").hide();
                $("#question-edit-answer-B").hide();
                $("#question-edit-answer-C").hide();
                $("#question-edit-answer-D").hide();
                $("#question-edit-judge").show();
            }
        }

        //根据题目类型来调整表单
        function changAddForm(){
            var type = $("#question-add-type").val();
            console.log(type);
            if(type == 'MULTIPLE_CHOICE' || type == "SINGLE_CHOICE") {
                $("#question-add-answer").show();
                $("#question-add-answer-A").show();
                $("#question-add-answer-B").show();
                $("#question-add-answer-C").show();
                $("#question-add-answer-D").show();
                $("#question-add-judge").hide();
            }else if(type == 'FILL_BLANK'){
                $("#question-add-answer").show();
                $("#question-add-answer-A").hide();
                $("#question-add-answer-B").hide();
                $("#question-add-answer-C").hide();
                $("#question-add-answer-D").hide();
                $("#question-add-judge").hide();
            }else{
                $("#question-add-answer").hide();
                $("#question-add-answer-A").hide();
                $("#question-add-answer-B").hide();
                $("#question-add-answer-C").hide();
                $("#question-add-answer-D").hide();
                $("#question-add-judge").show();
            }
        }

        //编辑按钮操作
        function editQuestion(editButtonId, type) {
            console.log(editButtonId);
            console.log(type);
            var questionId = editButtonId.substr(8);
            console.log(questionId);
            $.getJSON("/questions/" + questionId, function (result) {
                popWinToEdit(result);
            })
        }

        //添加按钮操作
        function addQuestion() {
            popWinToAdd();
        }

        //删除按钮操作
        function deleteQuestion(deleteButtonId) {
            var questionId = deleteButtonId.substr(10);
            console.log(questionId);
            $.ajax({
                url: "/questions/" + questionId,
                type: "delete"
            }).done(function (result) {
                alert("已经弃用该问题！")
                location.reload();
            })
        }

        //编辑窗口提交操作
        $("#question-edit-btn").click(function () {
            var question_id = $("#question-edit-id").val();
            console.log($("#question-type").val());
            // alert("点了我！")
            let formData = JSON.stringify({
                "id": $("#question-edit-id").val(),
                "infoTextContent": $("#question-info").val(),
                "option1":$("#question-edit-input-A").val(),
                "option2":$("#question-edit-input-B").val(),
                "option3":$("#question-edit-input-C").val(),
                "option4":$("#question-edit-input-D").val(),
                "score": $("#score").val(),
                "type": $("#question-edit-type").val(),
                "correctAnswer": $("#question-edit-input-answer").val(),
                "deleted": $("#delete").val() == "是" ? true : false,
            })
	        console.log(formData);

            $.ajax({
                url: "/questions/"+ question_id,
                type: "put",
                contentType: "application/json",
                data: formData,
                dataType: "json"
            }).done(function (data) {
                console.log(data.code);
                if (data.code == 200) {
                    alert("修改问题成功");
                    location.reload();
                }
                else alert("修改问题失败！");
            })
        })

        //添加问题窗口提交操作
        $("#question-add-btn").click(function () {
            // alert("点了我！")
            let formData = JSON.stringify( {
                "infoTextContent": $("#question-add-info").val(),
                "option1":$("#question-add-input-A").val(),
                "option2":$("#question-add-input-B").val(),
                "option3":$("#question-add-input-C").val(),
                "option4":$("#question-add-input-D").val(),
                "score": $("#question-add-score").val(),
                "type": $("#question-add-type").val(),
                "correctAnswer": $("#question-add-input-answer").val(),
                "deleted": $("#canUse").val() == "是" ? false : true
            })
            $.ajax({
                url: "/questions/",
                type: "post",
                contentType: "application/json",
                data: formData,
                dataType: "json"
            }).done(function (data) {
                console.log(data.code);
                if (data.code == 200){
                    alert("添加问题成功");
                    location.reload();
                }
                else alert("保存问题失败！");
            })
        })

        /*窗口弹出添加函数*/
        function popWinToAdd() {

            document.getElementById('lightToAdd').style.display = 'block';
            document.getElementById('fade').style.display = 'block';
            changAddForm();
        }

        /*窗口弹出编辑函数*/
        function popWinToEdit(question) {
            /*数据回显*/
            document.getElementById("edit-title").innerText = "编辑问题" + question.data.id;
            $("#question-edit-id").val(question.data.id);
            $("#question-edit-btn").val(question.data.type);
            $("#question-info").val(question.data.infoTextContent);
            $("#question-edit-input-A").val(question.data.option1);
            $("#question-edit-input-B").val(question.data.option2);
            $("#question-edit-input-C").val(question.data.option3);
            $("#question-edit-input-D").val(question.data.option4);
            $("#question-edit-input-answer").val(question.data.correctAnswer);
            $("#score").val(question.data.score);
            $("#delete").val((question.data.deleted) ? "是" : "否");
            changEditForm();
            document.getElementById('lightToEdit').style.display = 'block';
            document.getElementById('fade').style.display = 'block'
        }

        /*窗口关闭函数*/
        function closeWin() {
            document.getElementById('lightToEdit').style.display = 'none';
            document.getElementById('lightToAdd').style.display = 'none';
            document.getElementById('fade').style.display = 'none';
            location.reload();
        }

        $("#question-table").bootstrapTable({
            search: true,
            showRefresh: true,
            showColumns: true,
            striped: true,
            sortable: true
        });
	</script>
</html>
