<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
<table>
    <tr>
        <td>username</td>
        <td>role</td>
    </tr>
    <tr th:each="user,loopStatus :${userList}">
        <td th:text="${user.username}" th:id="'td'+${loopStatus.count}"></td>
        <td th:text="${user.role}"></td>
        <td><button th:id="'btn'+${loopStatus.count}" class="btn">删除</button></td>
    </tr>
</table>
</body>
<script th:inline="javascript">
    for(let i=1;i<=$(".btn").length;i++){
        let btn = 'btn'+i;
        console.log(btn)
        /*$(btn).click(function (){
            alert("点了第"+i+"个")
        })*/
        let b = document.getElementById(btn)
        b.addEventListener("click",function (){
            let td = 'td'+i
            let username = document.getElementById(td).innerText
            $.ajax({
                url  : '/root/deleteUser?username='+username,
                type : 'delete'
            }).done(function(data){
                if(data.code===200) {
                    alert("删除成功")
                    window.location.href="/root/getAllUser"
                }
            })
        })
    }
</script>
</html>
