<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
    <nav th:replace="../static/html/common/fragments.html::root_menu(2)"></nav>
<div class="container">
    <h2>用户列表</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Username</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user,loopStatus :${userList}">
                <td th:text="${user.username}" th:id="'td'+${loopStatus.count}"></td>
                <td th:text="${user.role}"></td>
                <td><button th:id="'btn'+${loopStatus.count}" class="btn">删除</button></td>
            </tr>
        </tbody>
    </table>
</div>

</body>
<script th:inline="javascript">
    for(let i=1;i<=$(".btn").length;i++){
        let btn = 'btn'+i;
        console.log(btn)
        /*$(btn).click(function (){
            alert("点了第"+i+"个")
        })*/
        let b = document.getElementById(btn)
        b.addEventListener("click",function (){
            let td = 'td'+i
            let username = document.getElementById(td).innerText
            $.ajax({
                url  : '/root/deleteUser?username='+username,
                type : 'delete'
            }).done(function(data){
                if(data.code===200) {
                    alert("删除成功")
                    window.location.href="/root/getAllUser"
                }
            })
        })
    }
</script>
</html>
