<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>试卷提交</title>
		<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"
		      rel="stylesheet">
		<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css">
		<link href="/css/table.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="/css/me.css">
		<!--基础js-->
		<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
		<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<!--BootStrap Table-->
		<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
	</head>
	<body>
		<nav th:replace="../static/html/common/fragments.html::corrector_menu(1)"></nav>
		<input type="hidden" th:value="${answerList}" id="exam-question-submits"/>

		<div class="container">
			<h1><strong>本道题的所有提交</strong></h1>
			<table
					data-toggle="table"
					data-height="460"
					data-show-pagination-switch="true"
					data-show-refresh="true"
					data-show-columns="true"
					data-page-list="[10, 25, 50, 100, 200, All]"
					data-search="true"
					data-pagination="true"
					data-pagination-h-align="right"
					data-pagination-detail-h-align="right"
					data-pagination-pre-text="上一页"
					data-pagination-next-text="下一页"
					class="tab table table-hover" id="exam-question-submits-table">

				<thead class="table-thead">
					<tr>
						<th data-sortable="true" data-width="15px">是否批改</th>
						<th data-width="100px">用户名称</th>
						<th data-width="120px">学号</th>
						<th>评价</th>
						<th data-sortable="true" data-width="15">分数</th>
						<th data-width="100px">状态</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="answer,loop:${answerList}">
						<td th:text="${answer.score}==null?'否':'是'"></td>
						<td th:text="${answer.id}==null?'':${userFormList.get(loop.index).username}"></td>
						<td th:text="${answer.id}==null?'':${userFormList.get(loop.index).studentId}"></td>
						<td th:if="${answer.score}!=null" th:unless="${answer.score.comment}==null"
						    th:text="${answer.score.comment}"></td>
						<td th:if="${answer.score}==null" th:text="未评价"></td>
						<td th:text="${answer.score}==null?'未批改':${answer.score.grade}"></td>
						<td th:if="${answer.score}!=null">
							<button type="button" class="btn m-button-color" th:id="${answer.id}"
							        onclick="get(this.id)">已批改
							</button>
						</td>
						<td th:if="${answer.score}==null">
							<button type="button" class="btn m-button-color" th:id="${answer.id}"
							        onclick="get(this.id)">批改
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

	</body>
	<script>
        $("#exam-table").bootstrapTable({});

        function get(answerId) {
            let examPageId = getQueryVariable("examPaperId")
            window.location.href = "/getAnswer?answerId=" + answerId + "&examPageId=" + examPageId
        }

        function search() {
            let questionId = getQueryVariable("questionId")
            let examPageId = getQueryVariable("examPaperId")
            window.location.href = "/answer?questionId=" + questionId + "&examPaperId=" + examPageId + "&studentId=" + $("#search_id").val()
        }

        function getQueryVariable(variable) {
            let query = window.location.search.substring(1);
            let vars = query.split("&");
            for (let i = 0; i < vars.length; i++) {
                let pair = vars[i].split("=");
                if (pair[0] === variable) {
                    return pair[1];
                }
            }
            return false;
        }
	</script>
</html>
