<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body th:id="${examPageId}" class="body">
<div>
    <p th:text="${username}"></p>
</div>
<div>
    <p th:text="${question.infoTextContent}"></p>
</div>
<div th:id="${paperAnswer}" class="a">
    <p th:text="${answer.answer}" th:id="${answer.id}" class="answer"></p>
</div>
<div>
    <p>分数</p>
    <label for="score">
        <input id="score">
    </label>
</div>
<div>
    <p>
        评价
    </p>
    <label for="comment">
        <input id="comment">
    </label>
</div>
<div>
    <button type="button" th:id="${pre}" class="pre">上一个</button>
    <button type="button" id="btn">提交</button>
    <button type="button" th:id="${next}" class="next">下一个</button>
</div>
</body>
<script>
    $("#btn").click(function (){
        let form = JSON.stringify({
            "examPaperAnswerId": $(".a").attr("id"),
            "answerId": $(".answer").attr("id"),
            "grade": $("#score").val(),
            "comment": $("#comment").val()
        })
        $.ajax({
            url: "/correction",
            contentType: "application/json",
            type: "post",
            data: form
        }).done(function (data){
            if(data.code===200)
                alert("成功")
        })
    })
    $(".pre").click(function (){
        let preId = $(".pre").attr("id")
        if(preId==="-1")
            alert("这已经是第一个了")
        else
            window.location.href="/getAnswer?answerId="+preId+"&examPageId="+$(".body").attr("id")
    })
    $(".next").click(function (){
        let nextId = $(".next").attr("id")
        if(nextId==="-1")
            alert("这已经是最后一个了")
        else
            window.location.href="/getAnswer?answerId="+nextId+"&examPageId="+$(".body").attr("id")
    })
</script>
</html>
