<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>考试批改-试卷查阅</title>
		<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"
		      rel="stylesheet">
		<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css">
		<link rel="stylesheet" href="/css/table.css">
		<link rel="stylesheet" href="/css/me.css">
		<!--基础js-->
		<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
		<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<!--BootStrap Table-->
		<script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
		<!--md解析js-->
		<script type="text/javascript" src="/js/marked.js" charset="UTF-8"></script>
		<style>
            code {

                /*元素内的空白保留，并允许换行*/
                white-space: pre-wrap !important;
                /*是否允许在单词内断句*/
                word-wrap: break-word !important;
                /*强调怎么样断句*/
                /*word-break: break-all !important;*/
                background-color: #F5F5F5;
            }
			td{
				text-align: left;
			}
			th{
				max-height: 20px;
			}
		</style>
	</head>
	<body>
		<nav th:replace="../static/html/common/fragments.html::corrector_menu(1)"></nav>
		<div class="container">
			<h1><strong>试卷的所有题目</strong></h1>
			<br>
			<table
					th:id="'exam-'+${exam.id}" class="table table-hover">
				<thead class="table-thead">
					<tr>
						<th>题目编号</th>
						<th>题目内容</th>
						<th>问题类型</th>
						<th data-width="10px">状态</th>
					</tr>
				</thead>
				<tbody id="tbody">
					<!--<tr th:each="question,loopStatus: ${exam.questions}">
						<td th:text="第+${loopStatus.count}+题"></td>
						<td th:text="${question.infoTextContent}" class="md"></td>
						<td th:text="${question.type}"></td>
						<td>
							<button type="button" class="btn m-button-color" th:id="${question.id}"
							        onclick="getAnswer(this.id)">批改
							</button>
						</td>
					</tr>-->
				</tbody>
			</table>
		</div>

	</body>
	<script th:inline="javascript">
		let examPaperId = $(".table").attr("id").substring(5)

		window.onload = function (){
			$.ajax({
				url: '/corrector/getExam?examId='+examPaperId,
				type: 'post',
			}).done(function (res){
				if(res.code===200){
					let q = res.data.questions
					console.log(q)
					let tbody = document.getElementById("tbody")
					for(let i=0;i<q.length;i++){
						let tr = document.createElement("tr")
						let td1 = document.createElement("td")
						let td2 = document.createElement("td")
						let td3 = document.createElement("td")
						let td4 = document.createElement("td")
						td1.innerText = "第"+(i+1)+"题"
						td2.innerHTML = marked(q[i].infoTextContent)
						if(q[i].type==="FILL_BLANK")
							td3.innerText = "简答题"
						if(q[i].type === "SINGLE_CHOICE")
							td3.innerText = "单选题"
						if(q[i].type === "MULTIPLE_CHOICE")
							td3.innerText = "多选题"
						let btn = document.createElement("button")
						btn.setAttribute("type","button")
						btn.setAttribute("class","btn m-button-color")
						btn.setAttribute("id",q[i].id)
						btn.setAttribute("onclick","getAnswer(this.id)")
						btn.innerText = "批改"
						td4.appendChild(btn)
						tr.appendChild(td1)
						tr.appendChild(td2)
						tr.appendChild(td3)
						tr.appendChild(td4)
						tbody.appendChild(tr)
					}
				}
			})
		}

        function getAnswer(questionId) {
            window.location.href = "/answer?questionId=" + questionId + "&examPaperId=" + examPaperId
        }

        /*$(function () {
            let m = $(".md")
            for (let i = 0; i < m.length; i++) {
                let converter = new Markdown.Converter();
                m[i].innerHTML = converter.makeHtml(m[i].innerText)
            }
        })*/

        $("#" + examPaperId).bootstrapTable({
            search: true,
            showRefresh: true,
            showColumns: true,
            striped: true,
            sortable: true
        });
	</script>
</html>
