<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="head(title)">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title >模板</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
		<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
		<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
		<!--Issuer导航-->
		<nav th:fragment="issuer_menu(n)"  class="navbar navbar-default" role="navigation" >
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" th:href="@{/home/issuer}" style="color: dodgerblue">考试系统</a>
				</div>
				<div>
					<ul class="nav navbar-nav">
						<li th:classappend="${n == 1} ? 'active'"><a href="" th:href="@{/home/issuer}">首页</a></li>
						<li th:classappend="${n == 2} ? 'active'"><a  href="#" th:href="@{/questions/}" >问题管理</a></li>
						<li th:classappend="${n == 3} ? 'active'"><a  href="#" th:href="@{/issuer/getMyAllExamPaper}" >考试管理</a></li>
						<li th:classappend="${n == 4} ? 'active'"><a  href="#" th:href="@{/questions/}" >用户成绩</a></li>
						<li th:classappend="${n == 999} ? 'active'"><a  href="#" th:href="@{/myInfo}" >个人信息</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<!--Member导航-->
		<nav th:fragment="member_menu(n)"  class="navbar navbar-default" role="navigation" >
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">考试系统</a>
				</div>
				<div>
					<ul class="nav navbar-nav">
						<li th:classappend="${n == 1} ? 'active'"><a href="" th:href="@{/home/member}">我的考试</a></li>
<!--						<li th:classappend="${n == 2} ? 'active'"><a  href="#" th:href="@{/questions/}" >我的考试</a></li>-->
						<li th:classappend="${n == 3} ? 'active'"><a  href="#"  >考试记录</a></li>
						<li th:classappend="${n == 5} ? 'active'"><a  href="#"  >消息窗口</a></li>
						<li th:classappend="${n == 999} ? 'active'"><a  href="#" th:href="@{/myInfo}" >个人信息</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<!--Root菜单-->
		<nav th:fragment="root_menu(n)"  class="navbar navbar-default" role="navigation" >
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">考试系统</a>
				</div>
				<div>
					<ul class="nav navbar-nav">
						<li th:classappend="${n == 1} ? 'active'"><a href="" th:href="@{/home/root}">首页</a></li>
						<!--						<li th:classappend="${n == 2} ? 'active'"><a  href="#" th:href="@{/root/getAllUser}" >用户管理</a></li>-->

						<li class="dropdown" th:classappend="${n == 2} ? 'active'">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								用户管理
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li class="divider"></li>
								<li><a th:href="@{/root/addUser}">新增用户</a></li>
								<li class="divider"></li>
								<li><a href="#" th:href="@{/root/getAllUser}">查看所有用户</a></li>
								<li class="divider"></li>
							</ul>
						</li>
						<li th:classappend="${n == 5} ? 'active'"><a  href="#"  >用户成绩</a></li>
						<li th:classappend="${n == 999} ? 'active'"><a  href="#" th:href="@{/myInfo}" >个人信息</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<!--Corrector导航-->
		<nav th:fragment="corrector_menu(n)"  class="navbar navbar-default" role="navigation" >
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" th:href="@{/home/corrector}" style="color: dodgerblue">考试系统</a>
				</div>
				<div>
					<ul class="nav navbar-nav">
						<li th:classappend="${n == 1} ? 'active'"><a  href="#" th:href="@{/home/corrector}"  >试卷批改</a></li>
<!--						<li th:classappend="${n == 3} ? 'active'"><a  href="#" th:href="@{/questions/}" >网站管理</a></li>-->
						<li th:classappend="${n == 999} ? 'active'"><a  href="#" th:href="@{/myInfo}" >个人信息</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</body>
</html>