<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="head(title)">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title >模板</title>
	</head>
	<body>
		<!--Issuer导航-->
		<nav th:fragment="issuer_menu(n)"  class="navbar navbar-default" role="navigation" >
			<div class="container-fluid">
					<a class="navbar-brand" th:href="@{/home/issuer}" style="color: black">
						<img src="https://kauizhaotan.oss-cn-shanghai.aliyuncs.com/assessment/SACC_logo_png_3000px.png" width="30" height="30" class="visible-lg-inline-block align-top"/>
						考试系统
					</a>
				<div>
					<ul class="nav navbar-nav">
						<li th:classappend="${n == 1} ? 'active'"><a href="" th:href="@{/home/issuer}">首页</a></li>
						<li class="dropdown" th:classappend="${n == 3} ? 'active'">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								考试管理
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li class="divider"></li>
								<li><a th:href="@{/issuer/getMyAllExamPaper}">所有考试</a></li>
								<li class="divider"></li>
								<li><a href="#" th:href="@{/issuer/createExam}">新增考试</a></li>
								<li class="divider"></li>
							</ul>
						</li>
						<li th:classappend="${n == 2} ? 'active'"><a  href="#" th:href="@{/questions/}"  >问题管理</a></li>
<!--						<li th:classappend="${n == 3} ? 'active'"><a  href="#" th:href="@{/issuer/getMyAllExamPaper}" >考试管理</a></li>-->
<!--						<li th:classappend="${n == 4} ? 'active'"><a  href="#" th:href="@{/questions/}" >用户成绩</a></li>-->
						<li th:classappend="${n == 999} ? 'active'"><a  href="#" th:href="@{/myInfo}" >我的信息</a></li>
					</ul>
				</div>
				<div style="float: right" class="nav navbar-nav">
					<li>
						<a href="#" th:href="@{/logout}"  class="text-decoration-none">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
							<path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"></path>
							<path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"></path>
						</svg>
						退出系统
						</a>
					</li>
				</div>
			</div>
		</nav>
		<!--Member导航-->
		<nav th:fragment="member_menu(n)"  class="navbar navbar-default" role="navigation" >
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" th:href="@{/home/member}" style="color: black">
						<img src="https://kauizhaotan.oss-cn-shanghai.aliyuncs.com/assessment/SACC_logo_png_3000px.png" width="30" height="30" class="visible-lg-inline-block align-top"/>
						考试系统
					</a>
				</div>
				<div>
					<ul class="nav navbar-nav">
						<li th:classappend="${n == 1} ? 'active'"><a href="" th:href="@{/home/member}">首页</a></li>
						<li th:classappend="${n == 2} ? 'active'"><a href="" th:href="@{/getMyExams}">我的考试</a></li>
<!--						<li th:classappend="${n == 3} ? 'active'"><a  href="#"  >考试记录</a></li>-->
<!--						<li th:classappend="${n == 5} ? 'active'"><a  href="#"  >消息窗口</a></li>-->
						<li th:classappend="${n == 999} ? 'active'"><a  href="#" th:href="@{/myInfo}" >个人信息</a></li>
					</ul>
				</div>
				<div style="float: right" class="nav navbar-nav">
					<li>
						<a href="#" th:href="@{/logout}"  class="text-decoration-none">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
								<path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"></path>
								<path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"></path>
							</svg>
							退出系统
						</a>
					</li>
				</div>
			</div>
		</nav>
		<!--Root菜单-->
		<nav th:fragment="root_menu(n)"  class="navbar navbar-default" role="navigation" >
			<div class="container-fluid">
				<a class="navbar-brand" th:href="@{/home/root}" style="color: black">
					<img src="https://kauizhaotan.oss-cn-shanghai.aliyuncs.com/assessment/SACC_logo_png_3000px.png" width="30" height="30" class="visible-lg-inline-block align-top"/>
					考试系统
				</a>
				<div>
					<ul class="nav navbar-nav">
						<li th:classappend="${n == 1} ? 'active'"><a href="" th:href="@{/home/root}">首页</a></li>
						<!--						<li th:classappend="${n == 2} ? 'active'"><a  href="#" th:href="@{/root/getAllUser}" >用户管理</a></li>-->

						<li class="dropdown" th:classappend="${n == 2} ? 'active'">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								用户管理
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li class="divider"></li>
								<li><a th:href="@{/root/addUser}">新增用户</a></li>
								<li class="divider"></li>
								<li><a href="#" th:href="@{/root/getAllUser}">查看所有用户</a></li>
								<li class="divider"></li>
							</ul>
						</li>
						<li th:classappend="${n == 999} ? 'active'"><a  href="#" th:href="@{/myInfo}" >个人信息</a></li>
					</ul>
				</div>
				<div style="float: right" class="nav navbar-nav">
					<li>
						<a href="#" th:href="@{/logout}"  class="text-decoration-none">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
								<path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"></path>
								<path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"></path>
							</svg>
							退出系统
						</a>
					</li>
				</div>
			</div>
		</nav>
		<!--Corrector导航-->
		<nav th:fragment="corrector_menu(n)"  class="navbar navbar-default" role="navigation" >
			<div class="container-fluid">
				<a class="navbar-brand" th:href="@{/home/corrector}" style="color: black">
					<img src="https://kauizhaotan.oss-cn-shanghai.aliyuncs.com/assessment/SACC_logo_png_3000px.png" width="30" height="30" class="visible-lg-inline-block align-top"/>
					考试系统
				</a>
				<div>
					<ul class="nav navbar-nav">
						<li th:classappend="${n == 1} ? 'active'"><a  href="#" th:href="@{/home/corrector}"  >首页</a></li>
						<li th:classappend="${n == 2} ? 'active'"><a  href="#" th:href="@{/getAllExams}"  >试卷批改</a></li>
<!--						<li th:classappend="${n == 3} ? 'active'"><a  href="#" th:href="@{/questions/}" >网站管理</a></li>-->
						<li th:classappend="${n == 999} ? 'active'"><a  href="#" th:href="@{/myInfo}" >个人信息</a></li>
					</ul>
				</div>
				<div style="float: right" class="nav navbar-nav">
					<li>
						<a href="#" th:href="@{/logout}"  class="text-decoration-none">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
								<path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"></path>
								<path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"></path>
							</svg>
							退出系统
						</a>
					</li>
				</div>
			</div>
		</nav>
	</body>
</html>