<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Title</title>
		<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css">
		<link rel="stylesheet" href="/css/me.css">
		<!--基础js-->
		<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
		<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
		<nav th:replace="__${page}__" ></nav>
		<div class="container">
			<h1><strong>我的信息</strong></h1>
			<hr>
			<form role="form" class="form" >
				<div class="form-group">
					<label for="username"> 用户账号</label>
					<input id="username" disabled th:value="${userName}">
				</div>
				<div class="form-group" >
					<label for="userId"> 我的学号</label>
					<input id="userId" disabled th:value="${userId}">
				</div>
				<div class="form-group">
					<label for="ROlE"> 用户权限</label>
					<input id="ROLE" disabled th:value="${ROLE}">
				</div>
				<div class="form-group">
					<label for="Email"> 我的邮箱</label>
					<input id="Email" disabled th:value="${userEmail}">
				</div>

			</form>

			<a th:href="@{/logout}" class="btn btn-danger btn-lg">退出系统</a>
		</div>

	</body>

</html>
