<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <table>
        <tr>
            <td>考试名称</td>
            <td>起始时间</td>
            <td>结束时间</td>
            <td>考试时间</td>
            <td>是否已参加</td>
        </tr>
        <tr th:each="exam,index:${examList}">
            <td th:text="${exam.name}"></td>
            <td th:text="${exam.startTime}"></td>
            <td th:text="${exam.endTime}"></td>
            <td th:text="${exam.examTime}"></td>
            <td th:if="${list[index.index]==1}" th:text="是">否</td>
            <td><button type="button" class="btn btn-info" th:id="${exam.id}" onclick="getExam(this.id)" >参加考试</button></td>
        </tr>
    </table>
</div>
</body>
<script>
    function getExam(buttonId){
        window.location.href="/Exam?examId="+buttonId;
    }
</script>
</html>

