body {
    margin: 0;
    background: rgb(245, 245, 245);
    zoom: 1.05;
}

.father {
    position: relative;
}

#blueK {
    width: 416px;
    height: 189px;
    background: rgba(0, 76, 255, 0.9);
    z-index: 1;
    position: absolute;
    top: 225px;
    left: 60px;
}

.small {
    color: #e4ecff;
    font-size: 16px;
}

#obvious {
    position: absolute;
    top: 24px;
    left: 60px;
    font-family: "Times New Roman", sans-serif;
}

.big {
    color: #ffffff;
    font-size: 30px;
}

#welcome {
    position: absolute;
    top: 75px;
    left: 65px;
    font-family: 华文中宋;
}

.status {
    position: absolute;
    top: 128px;
    left: 50px;
    font-size: 11px;
    background-color: rgba(255, 0, 0, 0.8);
    border: 11px;
    border-radius: 20px;
    padding: 4px;
}

.background {
    z-index: 0;
    position: absolute;
    top: 40px;
    left: 80px;
}

.background img {
    width: 1145px;
    height: 572px;
}

.member-button,
.button {
    width: 242px;
    height: 572px;
    background: #004cff;
    color: white;
    border: none;
    padding: 16px;
    position: absolute;
    top: 40px;
    left: 1225px;
}

/*
我将这个设计成button，出题人，管理员可以禁用，这样hover不会变，做题的就可以当按钮用
当然js需要补充
*/

.member-button:hover {
    background: #0a43c9;
    border: none;
}

.b1 {
    font-family: 华文中宋;
    font-size: 40px;
    font-weight: 100; /*细体不会调*/
    line-height: 80px;
    width: 210px;
    position: absolute;
    top: 16px;
}

.b2 {
    font-family: 华文中宋;
    font-size: 56px;
    font-weight: bolder;
    width: 56px;
    position: absolute;
    bottom: 16px;
}
