body form input div {
    margin: 0;
}

.logo {
    height: 170px;
    z-index: 2;
    text-align: center;
}

.logo img {
    margin: 100px 0 0 0;
    width: 70px;
    height: 70px;
}

.title {
    margin: 10px 0 50px 0;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    font-family: 华文中宋;
}

.textBox {
    width: 300px;
    height: 50px;
    margin: 5px auto;
    background: #fff;
    border-radius: 10px;
    font: lighter 18px 华文中宋;
    line-height: 50px;
    padding: 5px;
}

span {
    margin: 5px;
    color: #888;
}

input {
    width: 80%;
    height: 25px;
    border: none;
}

input:focus {
    outline: none;
    zoom: 1.09;
    /*background-color: #fffbf7;*/
}

.button {
    width: 250px;
    height: 37px;
    background: #004cff;
    margin: 50px 0 0 0;
    border: solid white;
    border-radius: 10px;
    font: lighter 15px 华文中宋;
    color: white;
}

.button:hover {
    width: 250px;
    height: 37px;
    background-color: #002a80;
    margin: 50px 0 0 0;
    border: solid white;
    border-radius: 10px;
    font: lighter 15px 华文中宋;
    color: white;
}

.button:focus {
    width: 250px;
    height: 37px;
    background-color: #002a80;
    margin: 50px 0 0 0;
    border: solid white;
    border-radius: 10px;
    font: lighter 15px 华文中宋;
    color: white;
}

.tail {
    text-align: center;
    margin: 200px 0 0 0;
    font-size: 12px;
    color: #999;
}

